@model IEnumerable<WebBanHangOnline.Models.EF.Category>
@{
    ViewBag.Title = "Danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
   

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="/admin/home">Trang chủ</a></li>
                            <li class="breadcrumb-item"><a href="/admin/category">Danh mục</a></li>
                        </ol>
                    </div>
                    <h4 class="page-title">Quản lý danh mục</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->
    


        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Danh sách danh mục</h3>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table m-0 table-colored-bordered table-bordered-purple">
                        <thead class="">
                            <tr>
                                <th>STT</th>
                                <th>Tên đề mục</th>
                                <th>Thứ tự</th>
                                <th>Sửa</th>
                                <th>Xóa</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                var i = 1;
                                foreach (var item in Model)
                                {
                                    <tr id="trow_@item.Id">
                                        <td>@i</td>
                                        <td>@item.Title</td>
                                        <td>@item.Position</td>
                                        <td>
                                            <a href="/admin/category/edit/@item.Id" class="btn btn-sm btn-primary">Sửa</a>
                                        </td>
                                        <td>
                                            <a href="#" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete">Xóa</a>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4">Không có bản ghi nào!!!</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="card-tools">
                        <p></p>
                        <a href="/admin/category/add" class="btn btn-success">Thêm mới</a>
                    </div>
                </div>
            </div>
        </div>

</div>
   


    @section scripts{
        <script>
            $(document).ready(function () {
                $('body').on('click', '.btnDelete', function () {
                    var id = $(this).data("id");
                    var conf = confirm('Bạn có muốn xóa bản ghi này không?');
                    if (conf === true) {
                        $.ajax({
                            url: '/admin/category/delete',
                            type: 'POST',
                            data: { id: id },
                            success: function (rs) {
                                if (rs.success) {
                                    $('#trow_' + id).remove();
                                }
                            }
                        });
                    }
                });
            });
        </script>
    }
