<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Medicare | Login Managerment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
    <meta content="Coderthemes" name="author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Feassets/images/icons/medicareicon.ico">

    <!-- Bootstrap select pluings -->
    <link href="~/ContentAD/assets/libs/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" type="text/css">

    <!-- App css -->
    <link href="~/ContentAD/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet">
    <link href="~/ContentAD/assets/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="~/ContentAD/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet">

</head>
<body class="authentication-bg">
    @RenderBody()
    <!-- Vendor js -->
    <script src="~/ContentAD/assets/js/vendor.min.js"></script>

    <!-- Bootstrap select plugin -->
    <script src="~/ContentAD/assets/libs/bootstrap-select/bootstrap-select.min.js"></script>

    <!-- App js -->
    <script src="~/ContentAD/assets/js/app.min.js"></script>
</body>
           
</html>
