
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- App css -->
<link href="~/ContentAD/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet">
<link href="~/ContentAD/assets/css/icons.min.css" rel="stylesheet" type="text/css">
<link href="~/ContentAD/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet">

<div style="height: 50px;"></div>
<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="/home" class="stext-109 cl8 hov-cl1 trans-04">
            Trang chủ
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            Cửa hàng
        </span>
    </div>
</div>
<!-- Content page -->

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="contact-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d250857.7925420976!2d106.38412929453125!3d10.761203000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3ef174e637%3A0x3fab32580e537709!2sMEDiCARE%20-%20BEAUTY%20AND%20HEALTH!5e0!3m2!1svi!2s!4v1733662736051!5m2!1svi!2s" style="width: 100%; height: 360px; overflow:hidden; border:0;"></iframe>
                        </div>
                    </div>
                </div>
                <div class="bg0 p-t-62 p-b-60">
                    <div class="container">
                        <!-- Main content -->
                        <section class="content">
                            <div class="row justify-content-center mt-4 mb-3">
                                <div class="col-md-10">
                                    <div>
                                        <h3 class="title">Liên hệ Medicare VN</h3>
                                        <p class="text-muted sub-title mb-4">Bất kỳ thông tin cần liên hệ trực tiếp đến tài khoản gmail company Medicare. Dành cho <br> đối tác, khách hàng, người sử dụng dịch vụ sản phẩm.</p>
                                    </div>

                                    <div class="row">

                                        <!-- Contact form -->
                                        <div class="col-sm-6">
                                            <form name="ajax-form" action="#" method="post" class="contact-form" data-parsley-validate="" novalidate="">

                                                <div class="form-group">
                                                    <input class="form-control" id="name2" name="name" placeholder="Quý danh" type="text" value="" required="">
                                                </div>
                                                <!-- /Form-name -->

                                                <div class="form-group">
                                                    <input class="form-control" id="email2" name="email" type="email" placeholder="Địa chỉ Email" value="" required="">
                                                </div>
                                                <!-- /Form-email -->

                                                <div class="form-group">
                                                    <textarea class="form-control" id="message2" name="message" rows="5" placeholder="Lời nhắn" required=""></textarea>
                                                </div>
                                                <!-- /Form Msg -->

                                                <div class="">
                                                    <button type="submit" class="btn btn-primary" id="send">Gửi ngay</button>
                                                </div>

                                            </form> <!-- /form -->
                                        </div> <!-- end col -->

                                        <div class="col-sm-5 ml-auto">
                                            <div class="contact-box">

                                                <div class="contact-detail mb-4">
                                                    <i class="mdi mdi-tooltip-account float-left font-20 mr-2"></i>
                                                    <address class="overflow-hidden">
                                                        254, Trần Hưng Đạo, Quận 1<br>
                                                        Thành Phố Hồ Chí Minh, Việt Nam
                                                    </address>
                                                </div>

                                                <div class="contact-detail mb-4">
                                                    <i class=" mdi mdi-cellphone-iphone float-left font-20 mr-2"></i>
                                                    <p class="">
                                                        +(84) 777-000-747
                                                    </p>
                                                </div>

                                                <div class="contact-detail">
                                                    <i class="mdi mdi-email float-left font-20 mr-2"></i>
                                                    <p>
                                                        <a href="">medicaresupport@gmail.com</a>
                                                    </p>
                                                </div>

                                            </div>
                                        </div> <!-- end col -->
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->
                            </section>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
</div>



