
@{
    ViewBag.Title = "Trang chủ admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center member-box">
                        <div class="dropdown float-right">
                            <a class="dropdown-toggle card-drop" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-dots-horizontal"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#" class="dropdown-item">Edit</a></li>
                                <li><a href="#" class="dropdown-item">Delete</a></li>
                                <li><a href="#" class="dropdown-item">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="member-avatar avatar-xl mx-auto d-block">
                                <img src="~/ContentAD/assets/images/users/faker.jpg" class="rounded-circle img-thumbnail" alt="profile-image">
                                <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                            </div>

                            <div class="">
                                <h4 class="mb-1">Cao Việt Tùng</h4>
                                <p class="text-muted mb-3">Admin <span> | </span> <span> <a href="#" class="text-green">tungpicklock@gmail.com</a> </span></p>
                            </div>

                            <p class="text-muted">
                                
                            </p>

                            <button type="button" class="btn btn-info btn-rounded waves-effect mt-1 waves-light">Gửi tin</button>

                            <ul class="member-card-social list-inline mt-3 mb-0">
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="social-list-item tooltips" href="" data-original-title="Facebook"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="social-list-item tooltips" href="" data-original-title="Twitter"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="social-list-item tooltips" href="" data-original-title="Skype"><i class="fab fa-skype"></i></a>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>

        </div> <!-- end col -->

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center member-box">
                        <div class="dropdown float-right">
                            <a class="dropdown-toggle card-drop" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-dots-horizontal"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#" class="dropdown-item">Edit</a></li>
                                <li><a href="#" class="dropdown-item">Delete</a></li>
                                <li><a href="#" class="dropdown-item">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="member-avatar avatar-xl mx-auto d-block">
                                <img src="~/ContentAD/assets/images/users/avatar-1.jpg" class="rounded-circle img-thumbnail" alt="profile-image">
                                <i class="mdi mdi-star-circle member-star text-muted" title="unverified user"></i>
                            </div>

                            <div class="">
                                <h4 class="mb-1">Nguyen Van A</h4>
                                <p class="text-muted mb-3">Employee <span> | </span> <span> <a href="#" class="text-green">nguyenvana@gmail.com</a> </span></p>
                            </div>

                            <p class="text-muted">
                                
                            </p>

                            <button type="button" class="btn btn-info btn-rounded waves-effect mt-1 waves-light">Gửi tin</button>

                            <ul class="member-card-social list-inline mt-3 mb-0">
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="social-list-item tooltips" href="" data-original-title="Facebook"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="social-list-item tooltips" href="" data-original-title="Twitter"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="social-list-item tooltips" href="" data-original-title="Skype"><i class="fab fa-skype"></i></a>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>

        </div> <!-- end col -->

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center member-box">
                        <div class="dropdown float-right">
                            <a class="dropdown-toggle card-drop" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-dots-horizontal"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#" class="dropdown-item">Edit</a></li>
                                <li><a href="#" class="dropdown-item">Delete</a></li>
                                <li><a href="#" class="dropdown-item">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="member-avatar avatar-xl mx-auto d-block">
                                <img src="~/ContentAD/assets/images/users/avatar-2.jpg" class="rounded-circle img-thumbnail" alt="profile-image">
                                <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                            </div>

                            <div class="">
                                <h4 class="mb-1">Nguyen Van A</h4>
                                <p class="text-muted mb-3">Employee <span> | </span> <span> <a href="#" class="text-green">nguyenvana@gmail.com</a> </span></p>
                            </div>

                            <p class="text-muted">

                            </p>

                            <button type="button" class="btn btn-info btn-rounded waves-effect mt-1 waves-light">Gửi tin</button>

                            <ul class="member-card-social list-inline mt-3 mb-0">
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="social-list-item tooltips" href="" data-original-title="Facebook"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="social-list-item tooltips" href="" data-original-title="Twitter"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="social-list-item tooltips" href="" data-original-title="Skype"><i class="fab fa-skype"></i></a>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>

        </div> <!-- end col -->
    </div>
    <!-- end row -->


    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center member-box">
                        <div class="dropdown float-right">
                            <a class="dropdown-toggle card-drop" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-dots-horizontal"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#" class="dropdown-item">Edit</a></li>
                                <li><a href="#" class="dropdown-item">Delete</a></li>
                                <li><a href="#" class="dropdown-item">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="member-avatar avatar-xl mx-auto d-block">
                                <img src="~/ContentAD/assets/images/users/avatar-3.jpg" class="rounded-circle img-thumbnail" alt="profile-image">
                                <i class="mdi mdi-star-circle member-star text-muted" title="unverified user"></i>
                            </div>

                            <div class="">
                                <h4 class="mb-1">Nguyen Van A</h4>
                                <p class="text-muted mb-3">Employee <span> | </span> <span> <a href="#" class="text-green">nguyenvana@gmail.com</a> </span></p>
                            </div>

                            <p class="text-muted">
                                
                            </p>

                            <button type="button" class="btn btn-info btn-rounded waves-effect mt-1 waves-light">Gửi tin</button>

                            <ul class="member-card-social list-inline mt-3 mb-0">
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="social-list-item tooltips" href="" data-original-title="Facebook"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="social-list-item tooltips" href="" data-original-title="Twitter"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="social-list-item tooltips" href="" data-original-title="Skype"><i class="fab fa-skype"></i></a>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>

        </div> <!-- end col -->

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center member-box">
                        <div class="dropdown float-right">
                            <a class="dropdown-toggle card-drop" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-dots-horizontal"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#" class="dropdown-item">Edit</a></li>
                                <li><a href="#" class="dropdown-item">Delete</a></li>
                                <li><a href="#" class="dropdown-item">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="member-avatar avatar-xl mx-auto d-block">
                                <img src="~/ContentAD/assets/images/users/avatar-4.jpg" class="rounded-circle img-thumbnail" alt="profile-image">
                                <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                            </div>

                            <div class="">
                                <h4 class="mb-1">Nguyen Van A</h4>
                                <p class="text-muted mb-3">Employee <span> | </span> <span> <a href="#" class="text-green">nguyenvana@gmail.com</a> </span></p>
                            </div>

                            <p class="text-muted">
                                
                            </p>

                            <button type="button" class="btn btn-info btn-rounded waves-effect mt-1 waves-light">Gửi tin</button>

                            <ul class="member-card-social list-inline mt-3 mb-0">
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="social-list-item tooltips" href="" data-original-title="Facebook"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="social-list-item tooltips" href="" data-original-title="Twitter"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="social-list-item tooltips" href="" data-original-title="Skype"><i class="fab fa-skype"></i></a>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>

        </div> <!-- end col -->

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center member-box">
                        <div class="dropdown float-right">
                            <a class="dropdown-toggle card-drop" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-dots-horizontal"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#" class="dropdown-item">Edit</a></li>
                                <li><a href="#" class="dropdown-item">Delete</a></li>
                                <li><a href="#" class="dropdown-item">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="member-avatar avatar-xl mx-auto d-block">
                                <img src="~/ContentAD/assets/images/users/avatar-5.jpg" class="rounded-circle img-thumbnail" alt="profile-image">
                                <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                            </div>

                            <div class="">
                                <h4 class="mb-1">Nguyen Van A</h4>
                                <p class="text-muted mb-3">Employee <span> | </span> <span> <a href="#" class="text-green">nguyenvana@gmail.com</a> </span></p>
                            </div>

                            <p class="text-muted">
                                
                            </p>

                            <button type="button" class="btn btn-info btn-rounded waves-effect mt-1 waves-light">Gửi tin</button>

                            <ul class="member-card-social list-inline mt-3 mb-0">
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="social-list-item tooltips" href="" data-original-title="Facebook"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="social-list-item tooltips" href="" data-original-title="Twitter"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="social-list-item tooltips" href="" data-original-title="Skype"><i class="fab fa-skype"></i></a>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>

        </div> <!-- end col -->
    </div>
    <!-- end row -->
</div> <!-- end container-fluid -->