
@{
    ViewBag.Title = "Đặt hàng thành công";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<div style="height: 100px;"></div>
<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="/home" class="stext-109 cl8 hov-cl1 trans-04">
            Trang chủ
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            Giỏ hàng
        </span>
    </div>
</div>

<div class="bg0 m-t-23 p-b-140">
    <div class="container">
        <!-- Main Content -->

        <div class="row">
            <div class="col-md-12 flex-c-m trans-04 p-lr-25" id="load_data">
                <h2>Đặt hàng thành công!!</h2>
            </div>
            <div class="col-md-12 flex-c-m trans-04 p-lr-25" id="load_data">
                <h3><a href="/Order/Index">Kiểm tra đơn đặt hàng</a></h3>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/assets/js/categories_custom.js"></script>
}

